{% extends "base.html" %}
{% block content %}
<br>
<form action="{{url_for('contact_person')}}" method="POST" class="">
<div class="container">
  <div class="jumbotron" style="opacity:0.9;">
    <div class="mb-3">
      <div class="">

<h1>kontakt:</h1>

{{ form.hidden_tag() }}
<div class="form-group">
  {{ form.email.label(class="col-sm-2 col-form-label") }} {{ form.email(class="form-control") }}
  </div>
<div class="form-grop">
  {{ form.krestni_jmeno.label(class="col-sm-2 col-form-label") }} {{ form.krestni_jmeno(class="form-control") }}
</div>
<div class="form-group">
  {{ form.prijmeni.label(class="col-sm-2 col-form-label") }} {{ form.prijmeni(class="form-control") }}
</div>
<div class="form-group">
  {{form.telefon.label(class="col-sm-2 col-form-label") }} {{ form.telefon(class="form-control") }}
  <small id="passwordHelpBlock" class="form-text text-muted">
Vaše telefonní číslo zadávejte, prosím, bez mezer.
</small>
</div>
<div class="form-group">
 {{ form.vzkaz.label(class="col-sm-2 col-form-label") }} {{ form.vzkaz(class="form-control", id="validationTextarea", height = 300)}}
 <small id="passwordHelpBlock" class="form-text text-muted">
  Vzkaz, který chcete zaslat.
</small>
</div>
<br>
<div class="form-group">
{{ form.potvrdit(class="btn btn-lg btn-primary") }}
</div>
  </div>
  </div>
      </div>
</form>



<br><br><br><br><br><br><br><br><br>
{% endblock %}
