{% extends "base.html" %}
{% block content %}
<br>
<div class="container" style="opacity:0.9;">
  <div class="jumbotron">
    <h1 class="display-4">Bajerová, Marcela - Finanční poradce</h1>
    <p class="lead">Finanční poradkyně se širokou specializaci na produkty pojišťovnictví a další finanční produkty.</p>
    <hr class="my-4">
    <p> <a href="tel:+420 737 518 290">Telefonní číslo: 737 518 290</a>
      <br>
      <a href="https://www.google.com/maps/place/P%C3%ADseck%C3%A9ho+768,+Rakovn%C3%ADk+II,+269+01+Rakovn%C3%ADk/@50.0989186,13.7285922,17z/data=!3m1!4b1!4m5!3m4!1s0x470a4ec6c6d00fdb:0x6bedd15c780a4363!8m2!3d50.0989186!4d13.7307809" target="_blank"> kontaktní adresa</a>: Píseckého 768, Rakovník, 269
      <br>
      <a href="https://www.facebook.com/Finan%C4%8Dn%C3%AD-poradce-113358607167324" target="_blank">FB: Finanční poradce</a>
      <br>
       Kontaktní emailová adresa: marcela.bajerova@insia.com  </p>
    <a class="btn btn-primary btn-lg" href="{{url_for('contact_person')}}" role="button">Poslat email!</a>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
</div>













{% endblock %}
