{% extends "base.html" %}

{% block content %}
<br>
<div class="container">

<div class="row">

  <div class="card border-secondary mb-3 bg-light text-black" style="max-width: 18rem;margin: 25px 25px;border: 2 px; opacity:0.9;">
    <div class="card-header"><h4>Životní pojištění</h4></div>
    <div class="card-body text-dark">
      <h5 class="card-title">Bližší popis</h5>
      <p class="card-text">Na trhu existuje velká nabídka životních pojištění, ve které je náročné se vyznat. Liší se například různou pojistnou ochranou a mírou flexibility.</p>
      <button type="button" class="btn btn-light" style="border: 1px solid">
        <a href="{{url_for('contact_person')}}">Poptat službu</a></button>
    </div>
  </div>

  <div class="card border-secondary mb-3 bg-light text-black" style="max-width: 18rem;margin: 25px 25px;border: 2 px; opacity:0.9;">
    <div class="card-header"><h4>Pojištění silničních vozidel</h4></div>
    <div class="card-body text-dark">
      <h5 class="card-title">bližší popis</h5>
      <p class="card-text">něco něco něco něco něco něco něco něco něco něco něco něco něco něco něco něco něco něco</p>
      <button type="button" class="btn btn-light" style="border: 1px solid">
        <a href="{{url_for('contact_person')}}">Poptat službu</a></button>
    </div>
  </div>

  <div class="card border-secondary mb-3 bg-light text-black" style="max-width: 18rem;margin: 25px 25px;border: 2 px; opacity:0.9;">
    <div class="card-header"><h4>Vyřízení hypotéky</h4></div>
    <div class="card-body text-dark">
      <h5 class="card-title">bližší popis</h5>
      <p class="card-text">Se získáním hypotéky pojí mnoho činnosti např. Potvrzení o příjmu nebo samotné žádání, které je pohodlné řešit skrze osoby, kteří rozumí problematice.</p>
      <button type="button" class="btn btn-light" style="border: 1px solid">
        <a href="{{url_for('contact_person')}}">Poptat službu</a></button>
    </div>
  </div>

  <div class="card border-secondary mb-3 bg-light text-black" style="max-width: 18rem;margin: 25px 25px;border: 2 px; opacity:0.9;">
    <div class="card-header"><h4>Penzijní pojištění</h4></div>
    <div class="card-body text-dark">
      <h5 class="card-title">bližší popis</h5>
      <p class="card-text">něco něco něco něco něco něco něco něco něco něco něco něco něco něco něco něco něco něco</p>
      <button type="button" class="btn btn-light" style="border: 1px solid">
        <a href="{{url_for('contact_person')}}">Poptat službu</a></button>
    </div>
  </div>

  <div class="card border-secondary mb-3 bg-light text-black" style="max-width: 18rem;margin: 25px 25px;border: 2 px; opacity:0.9;">
    <div class="card-header"><h4>Stavební spoření</h4></div>
    <div class="card-body text-dark">
      <h5 class="card-title">bližší popis</h5>
      <p class="card-text">Výběr výhodného stavebního spoření je v dnešní době mnohem komplikovanější, než by se na první pohled mohlo zdát. Existuje mnoho produktů ve kterém se význá jen profesionál.</p>
      <button type="button" class="btn btn-light" style="border: 1px solid">
        <a href="{{url_for('contact_person')}}">Poptat službu</a></button>
    </div>
  </div>

  <div class="card border-secondary mb-3 bg-light text-black" style="max-width: 18rem;margin: 25px 25px;border: 2 px; opacity:0.9;">
    <div class="card-header"><h4>Úrazové pojištění</h4></div>
    <div class="card-body text-dark">
      <h5 class="card-title">bližší popis</h5>
      <p class="card-text">Úrazové pojištění je druh pojištění, který zahrnuje výplatu pojistného v případě, že v důsledku úrazu dojde k přechodnému nebo trvalému tělesnému poškození, či smrti pojištěného.</p>
      <button type="button" class="btn btn-light" style="border: 1px solid">
        <a href="{{url_for('contact_person')}}">Poptat službu</a></button>
    </div>
  </div>
</div>
</div>
<br>
<br><br>
{% endblock %}
